<div class="d-flex align-items-center f-title fw-bold">
  <mat-icon aria-hidden="false">business</mat-icon>
  Properties - Add New Property
</div>
<div class="form-wrapper d-flex justify-content-center gx-3">
  <form [formGroup]="dynamicForm" class="d-flex flex-column px-3 mt-4">
    <h3 class="fw-bold">Property Overiew</h3>
    
    <app-text-box formControlName="streetAddress" label="Street Address" errorMessage="Street Address cannot be blank"></app-text-box>


    <!-- <div class="mb-3 d-flex flex-column">
      <label class="fw-bold">Street Address</label>
      <input class="app-control-input" formControlName="streetAddress" />
      <mat-error *ngIf="isSubmitted && f['streetAddress'].invalid">Street address is required</mat-error>
    </div>

    <div class="mb-3 d-flex flex-column">
      <label class="fw-bold">Unit</label>
      <input class="app-control-input" formControlName="unit" />
      <mat-error *ngIf="isSubmitted && f['unit'].invalid">Unit is required</mat-error>
    </div>

    <div class="mb-3 d-flex flex-column">
      <label class="fw-bold">City</label>
      <input class="app-control-input" formControlName="city" />
    </div>

    <div class="mb-3 d-flex flex-column">
      <label class="fw-bold">State</label>
      <input class="app-control-input" formControlName="state" />
    </div>

    <div class="mb-3 d-flex flex-column">
      <label class="fw-bold">Zip Code</label>
      <input class="app-control-input" formControlName="zipCode" />
    </div>

    <app-other-features #otherFearures (featureAdded)="addFeatures($event)"
      (featureChanged)="onOtherFeatureChange($event)">
    </app-other-features>

    <hr />
    <h3 class="fw-bold">Gallery</h3>
    <app-media-picker></app-media-picker>

    <hr />
    <h3 class="fw-bold">Highlights</h3>
    <app-rich-text-editor></app-rich-text-editor>

    <hr />
    <h3 class="fw-bold">Amenities</h3>
    <app-other-features #otherFearures (featureAdded)="addFeatures($event)"
      (featureChanged)="onOtherFeatureChange($event)">
    </app-other-features>

    <hr />
    <h3 class="fw-bold">Additional Information</h3>
    <app-other-features #otherFearures (featureAdded)="addFeatures($event)"
      (featureChanged)="onOtherFeatureChange($event)">
    </app-other-features>

    <hr />
    <h3 class="fw-bold">Landlord Information</h3>
    <div class="mb-3 d-flex flex-column">
      <label class="fw-bold">Street Address</label>
      <input class="app-control-input" formControlName="streetAddress" />
      <mat-error *ngIf="isSubmitted && f['streetAddress'].invalid">Street address is required</mat-error>
    </div>

    <div class="mb-3 d-flex flex-column">
      <label class="fw-bold">Unit</label>
      <input class="app-control-input" formControlName="unit" />
      <mat-error *ngIf="isSubmitted && f['unit'].invalid">Unit is required</mat-error>
    </div>

    <div class="mb-3 d-flex flex-column">
      <label class="fw-bold">City</label>
      <input class="app-control-input" formControlName="city" />
    </div>

    <div class="mb-3 d-flex flex-column">
      <label class="fw-bold">State</label>
      <input class="app-control-input" formControlName="state" />
    </div>

    <div class="mb-3 d-flex flex-column">
      <label class="fw-bold">Zip Code</label>
      <input class="app-control-input" formControlName="zipCode" />
    </div>

    <div class="mb-3 d-flex flex-column">
      <label class="fw-bold mb-2">Preferred Contact Method</label>

      <mat-radio-group>
        <mat-radio-button value="auto" class="me-5">Email Address</mat-radio-button>
        <mat-radio-button value="always">Phone Number</mat-radio-button>
      </mat-radio-group>

    </div>
    <app-other-features #otherFearures (featureAdded)="addFeatures($event)"
      (featureChanged)="onOtherFeatureChange($event)">
    </app-other-features> -->
  </form>
  <div class="form-progress">
    <h2 class="fw-bold">Form Progress</h2>
    <ul>
      <li class="active">Property Overview</li>
      <li></li>
      <li>Gallery</li>
      <li></li>
      <li>Hightlights</li>
      <li></li>
      <li>Amenities</li>
      <li></li>
      <li>Additional Information</li>
      <li></li>
      <li>Landlord Information</li>
    </ul>
    <button class="save mt-4" mat-flat-button (click)="onSubmit()">Create</button>
  </div>
</div>