<div class="d-flex align-items-center f-title fw-bold">
  <mat-icon aria-hidden="false">business</mat-icon>
  Properties - Add New Property
</div>
<div class="form-wrapper">
  <form [formGroup]="form" class="d-flex flex-column px-3 mt-4">
    <h3 class="fw-bold">Property Overiew</h3>

    <app-text-box formControlName="streetAddress" label="Street Address" [validation]="true"
      errorMessage="Street Address cannot be blank"></app-text-box>
    <app-text-box formControlName="unit" label="Unit" [validation]="true" errorMessage="Unit cannot be blank">
    </app-text-box>
    <app-text-box formControlName="city" label="City"></app-text-box>
    <app-text-box formControlName="state" label="State"></app-text-box>
    <app-text-box formControlName="zipCode" label="Zip Code"></app-text-box>
    <app-text-box formControlName="propertyType" label="Property Type"></app-text-box>
    <app-text-box formControlName="buidingAge" label="Building Age"></app-text-box>
    <app-text-box formControlName="rooms" label="Rooms"></app-text-box>
    <app-text-box formControlName="baths" label="Baths"></app-text-box>
    <app-other-features (featureAdded)="addFeatures($event)" formArray="otherFeatures"
      (featureChanged)="onOtherFeatureChange($event)">
    </app-other-features>

    <hr id="gallery" />
    <h3 class="fw-bold">Gallery</h3>
    <app-media-picker></app-media-picker>

    <hr id="highlights" />
    <h3 class="fw-bold">Highlights</h3>
    <app-rich-text-editor formControlName="highlights"></app-rich-text-editor>

    <hr id="highlights" />
    <h3 class="fw-bold">Amenities</h3>
    <app-other-features (featureAdded)="addFeatures($event)" legend="Amenities"
    formArray="additionalInformation" (featureChanged)="onOtherFeatureChange($event)">
    </app-other-features>

    <hr id="information" />
    <h3 class="fw-bold">Additional Information</h3>
    <app-other-features (featureAdded)="addFeatures($event)" legend="Information"
      formArray="additionalInformation" (featureChanged)="onOtherFeatureChange($event)">
    </app-other-features>

    <hr id="information" />
    <h3 class="fw-bold">Landlord Information</h3>
    <app-radio-group formControlName="preferredContactMethod" label="Preferred Contact Method" [options]="options">
    </app-radio-group>
    <app-other-features (featureAdded)="addFeatures($event)" legend="Information"
      formArray="landlordInformation" (featureChanged)="onOtherFeatureChange($event)">
    </app-other-features>
  </form>
  <div class="form-progress">
    <h2 class="fw-bold">Form Progress</h2>
    <ul>
      <li class="active">Property Overview</li>
      <li></li>
      <li>Gallery</li>
      <li></li>
      <li>Hightlights</li>
      <li></li>
      <li>Amenities</li>
      <li></li>
      <li>Additional Information</li>
      <li></li>
      <li>Landlord Information</li>
    </ul>
    <button class="save mt-4" mat-flat-button (click)="onSubmit()">Create</button>
  </div>
</div>