$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1366px,
  xxxl: 1920px
);

$container-max-widths: (
  xxxs: 0,
  xxs: 320px,
  xs: 568px,
  sm: 667px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
  xxxl: 1640px
);


//Theme
$theme-colors: (
  "primary": #7eaf00,
);
@import "../../../node_modules/bootstrap/scss/bootstrap";

@for $i from 12 through 30 {
  .fs-#{$i} {
    font-size: $i + px; 
  }
}