<div class="container ">
  <form [formGroup]="registerForm" (ngSubmit)="register()" class="form-container d-flex flex-column mx-auto mt-5">
    <img src="./assets/images/angular_logo.png" alt="" class="mb-3">
    <mat-form-field appearance="fill" class="mb-2">
      <mat-label>First name</mat-label>
      <input matInput placeholder="Tony" formControlName="firstName" required>
      <mat-error *ngIf="isSubmitted && f['firstName'].invalid">First name cannot be blank</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="mb-2">
      <mat-label>Last name</mat-label>
      <input matInput placeholder="Stark" formControlName="lastName" required>
      <mat-error *ngIf="isSubmitted && f['lastName'].invalid">Last name cannot be blank</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput placeholder="rosesarerosie@yg.kr" formControlName="email" required>
      <mat-error *ngIf="isSubmitted && f['email'].hasError('email')">Please enter valid email</mat-error>
      <mat-error *ngIf="isSubmitted && f['email'].hasError('required')">Email is required</mat-error>
      <mat-error *ngIf="isSubmitted && f['email'].hasError('uniqueAccount')">Email already taken</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput placeholder="********" formControlName="password" required>
      <mat-error *ngIf="isSubmitted && f['password'].invalid">Password cannot be blank</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Confirm password</mat-label>
      <input matInput placeholder="********" formControlName="confirmPassword" required>
      <mat-error *ngIf="isSubmitted && f['confirmPassword'].invalid">Confirm password cannot be blank</mat-error>
    </mat-form-field>
    
    <button mat-raised-button color="primary" class="mt-2" type="submit">Register</button>
  </form>

</div>